*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}

:root{
    font-size: 62.5%;

    --headerBackgroundColor: #065E7C;
    --buttonBackgroundColor: #065E7C;
    --searchBoxBackground: #387e96;
    --logoBackgroundColor: #f4fcff;
    --searchTextColor: #ffffff;
    --highlightTextColor: #202024;
    --textColor: #121214;
    --footerBackground: #387e96;
    --footerTextColor: #ffffff;
    --likeColor: green;
    --dislikeColor: red;    
}

html, button, input{
    font-family: 'Mulish', sans-serif;
}

body{
    font-size: 1.6rem;

    max-width: clamp(43rem, 50vw + 1rem, 100%vw);

    margin: 0 auto;
}

header{

    box-sizing: content-box;
    display: flex;
    justify-content: center;
    
    padding: 1.6rem 2.8rem;

    gap: 2.5rem;

    background: var(--headerBackgroundColor);
}

.logo{
    background: var(--logoBackgroundColor);

    min-width: 4rem;
    height: 4rem;

    border: none;
    border-radius: 50%;

    background-image: url(./assets/Vector.svg);    
    background-repeat: no-repeat;
    background-position: center;
}

.inputWrapper label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.inputWrapper input{
    max-width: clamp(24rem, 50vw + 1rem, 108%vw);

    padding: 1.6rem;

    background-color: var(--searchBoxBackground);
    border: 0;
    border-radius: 6px;

    font-size: 1.6rem;
    font-weight: 600;

    color: var(--searchTextColor);
}

.inputWrapper input::placeholder{
    opacity: 0.2;
    color: var(--searchTextColor);
}

.avatar{
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 50%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main > *:nth-child(n+2){
    margin-left: 2.2rem;
}

main img{
    margin-bottom: 3rem;

    max-width: clamp(43.4rem, 50vw + 1rem, 80rem);
}

.title{
    margin-bottom: 3rem;
    
    max-width: clamp(34rem, 50vw + 1rem, 80rem);
}

h1{
    font-size: 2.4rem;

    line-height: 160%;

    color: var(--highlightTextColor);
}

.title h1{
    margin-bottom: 1rem;
}

button{
    width: 4rem;
    height: 4rem;

    border: none;
    border-radius: 50%;
      
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.2s;

    background-color: var(--buttonBackgroundColor);
}

button:hover{
    scale: 1.1;
}

.like{
    background-image: url(./assets/like.svg);
}

.like:active{
    background: var(--likeColor);
}

.dislike{
    background-image: url(./assets/dislike.svg);

    margin-left: 1.2rem;
}

.dislike:active{
    background: var(--dislikeColor);
}

p{
    line-height: 160%;

    color: var(--textColor);
}

main p{
    max-width: clamp(38rem, 50vw + 1rem, 80rem);

    margin-bottom: 3rem;
}

.relatedArticles{
    max-width: clamp(38rem, 50vw + 1rem, 80rem);

    margin-top: 3rem;
}

.box{
    display: flex;

    align-items: center;

    max-width: clamp(21.5rem, 50vw + 1rem, 38.4rem);
    
    gap: 1.6rem;
}

.text h1{
    font-size: 1.8rem;
}

.text p{
    font-size: 1.4rem;    
}

footer{
    box-sizing: content-box;

    background: var(--footerBackground);

    padding: 2.6rem 0;

    display: flex;
    justify-content: center;
}

footer p{
    font-weight: 600;

    color: var(--footerTextColor);
}

@media (min-width: 1120px) {
    main{   
        display: flex;     
        margin: 4.4rem auto;

        justify-content: center;

        gap: 4.5rem;
    }

    .title{
        display: flex;
        justify-content: space-between;
    }
}

